// this color palette is based on [dragon-energy](https://github.com/wdhg/dragon-energy)

$commentColor: #eeee44;
$constantColor: #f07040;
$stringColor: #90fe40;
$characterColor: #00dd55;
$numberColor: #11ccff;
$floatColor: #11ccff;
$identifierColor: #29d8f7;
$functionColor: #fe88fe;
$statementColor: #ff4477;
$preProcColor: #ee9933;
$typeColor: #33ddc8;
$specialColor: #ffb030;
$errorColor: red;