<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <span class="main">Bachelorproject</span> <span class="sub">--- Using node modules based on net in browser ---</span>
    </header>
    <main>
        <code id="log"></code>
        <cmd id="cmd"></cmd>
    </main>
    <footer>
        <span>&copy; Panajiotis Christoforidis, Freiburg 2019</span>
<span>        <svg style="width: 1rem; height: 1rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="scale"><path fill="white" d="M8 1a1 1 0 0 0-1 1v1H2a1 1 0 0 0 0 2h.492l-1.34 3.234a2 2 0 1 0 3.692-.011L3.509 5H7v8H6a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2H9V5h3.492l-1.34 3.234a2 2 0 1 0 3.692-.011L13.509 5H14a1 1 0 1 0 0-2H9V2a1 1 0 0 0-1-1z"></path></svg> Licensed under <a href="http://www.gnu.de/documents/gpl.de.html">GPLv3</a></span>
    </footer>
</body>
</html>
