@import "~normalize.css";
@import "./colors";

cmd {
  background-color: rgba(0,0,0,0.9);
  padding: 1vh;
  font-size: 2vh;
  font-family: 'Source Code Pro', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 50vw;
  max-width: 75vw;
  top: 0vh;
  border-radius: 0.25rem;
  color: white;
  .tag {
    padding-right: 0.5rem;
    color: $stringColor;
  }
}
