// Copyright 2019, Panajiotis Christoforidis <panajiotis@christoforidis.net>
// SPDX_ID: GPL-3.0-or-later



@import "~normalize.css";
@import "./colors";
@import "./scrollbar";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:700&display=swap');

body, html {
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  footer,header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  footer,header{
    flex-grow: 0;
    min-height: 5rem;
    background-color: rgba(0,0,0,0.8);
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.7rem;

    background-color: darken($identifierColor, 30);
  }
}

a {
  color: $floatColor;
}

header {
  display: flex;
  flex-direction: column;
  span.main {
    font-size: 1rem;
    padding-bottom: 0.3em;
  }
  span.sub {
    font-size: 0.8rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  white-space: pre-wrap;
  background-color: rgba(0,0,0,0.9);
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  min-width: 50vw;
  max-width: 75vw;
  width: 100%;
  overflow: auto;
  height: 70vh;

  // transform: rotateX(0deg) rotateZ(350deg) rotateY(0deg) skewY(10deg);
  // transform-origin: center center;

  span {
    box-shadow: -3px 5px 5px 0px rgba(255,255,255,0.1);
  }

  $infoTagOpacity: 0.7;

  .tag
  {
    color: rgb(35, 166, 242);
    font-weight: bold;
    &.STDOUT {
      color: $characterColor;
    }
    &.ssh2-DEBUG {
      color: $specialColor;
      opacity: $infoTagOpacity;
    }
    &.ERROR {
      color: $errorColor;
    }
    &.console {
      color: $statementColor;
      opacity: $infoTagOpacity;
    }
  }

  .message {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    &.ssh2-DEBUG {
      color: $constantColor;
      opacity: 0.5;
    }
    &.console {
      color: rgba(255,255,255,0.5);
    }
  }
}

